/*Main page stuff*/
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;
}

/*Game grid*/
.gridcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  background-color: #cdcdcd;
  width: 45%;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
}

/*Button style*/
.button{
  background-color: #bdbdbd;
  border: 2px solid #cdcdcd;
  color: #bdbdbd;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:30px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: 'Rajdhani', sans-serif;
}

/*Hover style*/
.button:hover{
  background-color: #adadad;
  color: #adadad;
}

/*Right side padding*/
.container{
  position: relative;
  padding-right: 15px
}

/*Popup*/
div.fixed {
  padding: 5%;
  font-size: 20px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #f2f2f2;
  background-color: #ffffff;
  visibility: hidden;
  transition-duration: 0.4s;
}